:root {
    --c1: #0074d9;
    --c2: #012f57;
    --border-width: 3px;
}

body {
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(topography.svg);
}

h1 {
    color: #3d3e70;
    font-family: Impact, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > p {
    text-align: center;
    text-shadow: 0 0 5px #fff;
}

.outer-border {
    position: relative;
    top: 10em;
    padding: 10px;
    margin: 10px 0;
    width: 40em;
    padding: 2em 1em 2em 2em;
    border-radius: 14px;
}

h4, span[name="github"] {
    font-style: italic;
}
span[name="github"] {
    color: #529ddf;
}

.rotator {
    --border-width: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: var(--border-width);
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.discord {
    position: relative;
    left: 50%;
    top: 10em;
    transform: translate(-80%, -50%);
}

.rotator::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
}  

@keyframes moveGradient {
    50% {
      background-position: 100% 20%;
    }
}

notice {
    height: 30px;
    background-color: #151515;
    border: 1px solid #303030;
    color: rgb(143, 143, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px   ;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 70%;
    padding: 5px;
    z-index: 1000;
}

notice p {
    margin: 0;
}

.pill {
    display: inline-flex;
    align-items: center;
    padding: 5px 12px 5px 10px;
    background-color: #1c1c1c;
    border-radius: 20px;
    color: #7b7b7b;
    text-decoration: none;
    border: 1px solid #282828;
    margin: 0 10px;
    cursor: pointer;
    user-select: none !important;
}

.pill:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.pill i {
    margin-right: 5px;
}

.pillbox {
    flex-wrap: wrap;
    position: relative;
    margin-top: 5em;
    left: 50%;
    transform: translate(-110%, -50%);
}